/* Header.css */
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  width: 100% !; 
}
.HeaderPrimary{
  background-color: rgb(247, 188, 78);
}
.logoContainer {
  flex: 1; 
}

.HeaderLogoImage {
  height: 80px;
}

/* NavLinks.css */
ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black; 
}

/* @media (max-width: 400px) {
  .headerContainer {
    flex-direction: column;
    align-items: center; 
    padding-bottom: 30px;
  }
.a{
  margin-top: 20px;
}
  .logoContainer {
    margin-bottom: 10px;
  }
} */
@media (min-width: 600px) {
  .headerContainer {
    margin: 0 auto; 
    max-width: 1200px; 
  }
.HeaderPrimary{
  width: 100% !important;
  
}
  .logoContainer {
    margin-right: 20px; 
  }
}
@media (min-width: 600px) {
  .logoContainer {
    margin-right: 20px; 
  }
}
