
.SignUpPageContainer{
  background-color: rgb(134, 178, 199);
  height: 100vh;
  justify-content: center;
  align-items: center;
 padding-top: 100px;
}
.SignUpContainer {
  max-width: 600px;
margin: 0 auto;
  padding: 30px;

  border-radius: 35px;
  background-color: #f9f9f9;
  text-align: center;
  transform: translateY(150px);
}

.SignUpContainer h2 {
  margin-top: 0;
}

.SignUpContainer input {
 width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 30px;
  padding: 15px;
  border-radius: 35px;
  border: 2px solid rgb(247, 188, 78);
  display: block;

}

.SignUpContainer input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  max-width: 200px;
  border: 2px solid rgb(0, 0, 0);
}

.SignUpContainer input[type="submit"]:hover {
  background-color: #3bc72e;
}

@media screen and (max-width: 600px) {
  .SignUpContainer {
    max-width: 300px;
    padding: 15px; 
    transform: translateY(100px);
  }

  .SignUpContainer input {
    max-width: 200px;
    margin-top: 10px;

  }
}
