.footer {
  position: relative; 
  width: 100%;
  background-color: rgb(247, 188, 78);
  padding-top: 15px;
  text-align: center; 
  color: #343a40; 
}

.content-container {
  padding-bottom: 50px;
}
