.contact-container-form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
background-color: rgb(120, 95, 177);
color: rgb(247, 188, 78);
  background-size: cover;
font-weight: bold;
  background-position: center;

  background-repeat: no-repeat;

  background-attachment: fixed;
}
.ContactHomePageHeader-container-page{
  text-align: center;
}
.contact-form-container-page {
  width: 60%;
  max-width: 500px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 28px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 15px;
}
.button-container-page {
  background-color: #2196f3;
  color: white;
  padding: 14px 0;

  border: none;
  border-radius: 26px;
  cursor: pointer;
  font-size: 14px;
  width: 150px;
  margin: 0 auto;
  transition: background-color 0.9s ease;
}
.button-container-page {
  margin-top: 20px;
}
.button-container-page:hover {
  background-color: #4caf50;
}

.confirmation-message-container {
  background-color: #4caf50;
  color: white;
  padding: 25px;
  border-radius: 6px;
  text-align: center;
  margin-top: 16px;
}
.input-container {
  border: 1px solid rgb(247, 188, 78);
  border-radius: 15px;
  padding: 8px;
  margin-bottom: 15px;
}

.input-container input,
.input-container textarea {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
}

.input-container textarea {
  resize: vertical;
}
input,
textarea {
  max-width: 100%;
  padding: 12px;
  box-sizing: border-box;
  outline: none;
  border: 2px solid rgb(247, 188, 78);
  border-radius: 30px;
  resize: vertical;
}
